{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Physical Person</h1>
<div class="row-bar">
    <h2><a href="/add/someone?role=administrator">Add Administrator</a></h2>
    <h2><a href="/add/someone?role=lecturer">Add Lecturer</a></h2>
    <h2><a href="/add/someone?role=student">Add Student</a></h2>
</div>
<h1>Faculty or Subject</h1>
<div class="row-bar">
    <h2><a href="/add/something/faculty">Add Faculty</a></h2>
    <h2><a href="/add/something/subject">Add Subject</a></h2>
    <h2><a href="/add/something/group">Add Group</a></h2>
</div>
{% endblock %}