{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Hallo</h1>
<div>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {% if form.name.errors %}
            {{ form.name }}
            <div>
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name() }}
            {% endif %}
        </div>
        <div>
            {{ form.surname.label()}}
            {% if form.surname.errors %}
            {{ form.surname }}
            <div>
                {% for error in form.surname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.surname() }}
            {% endif %}
        </div>
        <div>
            {{ form.role.label }}
            {% if form.role.errors %}
            {{ form.role }}
            <div>
                {% for error in form.role.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.role() }}
            {% endif %}
        </div>
        <div>
            {{ form.submit.label() }}
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}